@import '~src/scss/variables';

#quiz {
    .title {
        opacity: 1;
        padding: 1rem;
        overflow: auto;
        font-weight: 600;
        border-radius: 1rem;
        background-color: #fff;

        &.title-react {
            color: $react;
        }

        &.title-angular {
            color: $angular;
        }

        &.title-node-js {
            color: $node;
        }
    }

    .option {
        margin: 5px;
        opacity: 1;
        color: #fff;
        padding: 1rem;
        overflow: auto;
        font-size: 20px;
        font-weight: 600;
        border-radius: 1rem;

        &:hover {
            opacity: 0.4;
            color: #000;
        }

        label > span {
            text-align: center;
            padding: 1rem 0px;
            display: block;
            border-radius: 1rem;
            font-weight: 600;
        }

        label {
            display: initial;
        }

        input.questions,
        input.answers {
            display: none;
        }

        input.questions:checked + span {
            background-color: #fff;
            color: black;
        }

        input.answers:checked + span {
            border-bottom: 2px solid #fff;
        }

        &.option-react {
            border: 1px solid $react;
            background-color: $react;

            &:hover {
                background: $react;
            }
        }

        &.option-angular {
            border: 1px solid $angular;
            background-color: $angular;

            &:hover {
                background: $angular;
            }
        }

        &.option-node-js {
            border: 1px solid $node;
            background-color: $node;

            &:hover {
                background: $node;
            }
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .badge {
        padding: 0.5rem;
        color: #fff;
        background-color: $button-colour;
    }

    button.main-buttons {
        color: #fff;
        background-color: $button-colour;

        &:hover {
            opacity: 0.8;
        }
    }

    button.btn.navigate-react:hover {
        background-color: $react;
        color: #fff;
    }

    button.btn.navigate-angular:hover {
        background-color: $angular;
        color: #fff;
    }

    button.btn.navigate-node-js:hover {
        background-color: $node;
        color: #fff;
    }

    div.result {
        background-color: $button-colour;
        border-radius: 1rem;
        font-size: 1.25rem;
        padding-top: 16px;
        opacity: 0.9;
        margin-bottom: 1rem;
        .alert {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 480px) {
    h1,
    .h1 {
        font-size: 22px;
    }
    h2,
    .h2 {
        font-size: 20px;
    }
    h3,
    .h3 {
        font-size: 18px;
    }
    .option {
        font-size: 16px;
        padding: 6px;
    }
}
