<div class="container-fluid" id="quiz">
    <div class="row">
        <h2
            class="col-12 d-flex align-items-center justify-content-center font-weight-normal"
        >
            <img width="70" [src]="getImagePath(quiz?.name)" /> {{ quiz?.name }}
        </h2>
    </div>
    <hr />

    <div class="container" *ngIf="mode === Mode.quiz && quiz">
        <div *ngFor="let question of filteredQuestions">
            <div class="row form-group">
                <div class="col-6">
                    <div class="badge">
                        Question {{ pager?.index + 1 }} of {{ pager?.count }}
                    </div>
                </div>

                <div class="col-6 text-right">
                    <div *ngIf="config?.duration" class="badge">
                        <i class="fas fa-hourglass-half fa-1x"></i>
                        {{ ellapsedTime }} / {{ duration }}
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <h3 class="col-12 text-center title title{{ quizColor }}">
                    {{ pager?.index + 1 }}.
                    <span [innerHTML]="question?.name"></span>
                </h3>
            </div>

            <div class="row form-group text-center options">
                <div
                    class="col-md-6 col-sm-12"
                    *ngFor="let option of question?.options"
                >
                    <div class="option option{{ quizColor }}">
                        <label
                            class="font-weight-normal"
                            [attr.for]="option?.id"
                        >
                            <input
                                id="{{ option?.id }}"
                                type="checkbox"
                                class="questions"
                                [(ngModel)]="option.selected"
                                (change)="onQuestionSelect(question, option)"
                            />

                            <span>{{ option?.name }}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button
                    *ngIf="config?.allowBack"
                    class="btn navigate{{ quizColor }}"
                    (click)="navigate(0)"
                >
                    <i class="fas fa-angle-double-left"></i>
                </button>

                <button
                    *ngIf="config?.allowBack"
                    class="btn navigate{{ quizColor }}"
                    (click)="navigate(pager?.index - 1)"
                >
                    <i class="fas fa-angle-left"></i>
                </button>

                <button
                    class="btn navigate{{ quizColor }}"
                    (click)="navigate(pager?.index + 1)"
                >
                    <i class="fas fa-angle-right"></i>
                </button>

                <button
                    class="btn navigate{{ quizColor }}"
                    (click)="navigate(pager?.count - 1)"
                >
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="container text-center" *ngIf="mode === Mode.review">
        <div class="row justify-content-center">
            <div
                class="col-md-3 col-sm-6 col-xs-12 cursor-pointer"
                *ngFor="let question of quiz?.questions; let index = index"
            >
                <div
                    (click)="navigate(index)"
                    class="review p-3 mb-2"
                    [ngStyle]="{
                        'background-color':
                            isAnswered(question) === QuestionStatus.Answered
                                ? 'darkgrey'
                                : 'white'
                    }"
                >
                    {{ index + 1 }}. {{ isAnswered(question) }}

                    <i
                        *ngIf="isAnswered(question) === QuestionStatus.Answered"
                        class="fas fa-check"
                    ></i>

                    <i
                        *ngIf="isAnswered(question) !== QuestionStatus.Answered"
                        class="fas fa-times"
                    ></i>
                </div>
            </div>
        </div>
    </div>

    <div
        class="results container form-group text-center"
        *ngIf="mode === Mode.result"
    >
        <div
            class="result col-12"
            *ngFor="let question of quiz?.questions; let index = index"
        >
            <div class="row">
                <div class="col-12 text-white">
                    <h5>{{ index + 1 }}. {{ question?.name }}</h5>
                </div>
            </div>

            <div class="row">
                <div
                    class="col-md-6 col-sm-12 option m-0"
                    *ngFor="let option of question.options"
                >
                    <input
                        id="{{ option?.id }}"
                        type="checkbox"
                        class="answers"
                        disabled="disabled"
                        [(ngModel)]="option.selected"
                    />

                    <span>{{ option?.name }}</span>
                </div>
            </div>

            <div class="row">
                <div
                    class="col-12 alert {{
                        isCorrect(question) === 'correct'
                            ? 'alert-success'
                            : 'alert-danger'
                    }}"
                >
                    Your answer is {{ isCorrect(question) }}.
                </div>
            </div>
        </div>
    </div>
    <br /><br />

    <div class="container text-center" *ngIf="mode !== Mode.result">
        <button
            *ngIf="mode === Mode.review"
            class="btn main-buttons m-2"
            (click)="mode = Mode.quiz"
        >
            <i class="fas fa-arrow-left"></i>
        </button>

        <button
            *ngIf="mode === Mode.quiz && config?.allowReview"
            class="btn main-buttons m-2"
            (click)="mode = Mode.review"
        >
            Review
        </button>

        <button class="btn main-buttons m-2" (click)="onQuizSubmit()">
            Submit Quiz
        </button>
    </div>
    <hr />
</div>
