@import "~src/scss/variables";

.quiz {
    .main-buttons {
        color: #fff;
        background-color: $button-colour;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 20px;
    }
}
